* {
  box-sizing: border-box;
}
.main {
  width: 264px;
  height: 444px;
}
.main .title {
  text-align: center;
  color: #918B91;
}
.main .msg {
  margin: 0 auto;
  padding: 0 2em;
  line-height: 16px;
  font-style: italic;
  color: #EC3875;
}
.main .params {
  margin: 0 auto;
  padding: 0 1em;
}
.main .params .column {
  margin: 1em;
}
.main .params .column label {
  display: inline-block;
  width: 4em;
  margin-right: 1em;
}
.main .params .column input {
  border-radius: 4px;
  text-align: center;
}
.main .params .column button {
  margin: 0 5px;
  padding: 0.3em 0.8em;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #eee;
  box-shadow: 1px 1px 2px #000;
}
.main .qr-code {
  margin: 0 auto;
  padding: 1em;
  width: 205px;
  border: 1px solid #eee;
}
.main .qr-code img {
  margin: 0 auto;
  display: block;
}
